
<html>

<head>
<title>Factura de Venta [{{ factura.codigo }}]</title>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">

<style>
</style>

</head>

<body>
<h1 align="center">{{factura.empresa.name}}</h1>

<br>

<table width="100%">
<tr>
  <td width="60%">&nbsp;</td>
  <td width="40%">
    {{factura.empresa.direccion|linebreaks}}
    <b>NIF:</b> {{factura.empresa.nif}}<br>
  </td>
</table>
<h1>FACTURA</h1>

<br>

<table width="100%" class="table table-bordered">
<tr>
<td width="50%">
  <b>Client:</b><br>
  {{factura.cliente.name}}
  {{factura.cliente.address|linebreaks}}
  <b>NIF/CIF:</b> {{factura.cliente.nif}}<br>
</td>
<td width="50%">
  <b>Numero factura: [{{factura.codigo}}]</b><br>
  <br>
  <br>
  <b>Data: {{ factura.fecha|date:"d-M-Y" }}</b><br>
</td>
</tr>
</table>

<br><br>

<table width="100%" class="table table-bordered">
<tr>
  <th>Descripci&ograve;</th>
  <th>Quantitat</th>
  <th>Preu</th>
  <th>Import</th>
</tr>
{% for order_item in facturaitems %}
  <tr>
    <td>{{ order_item.producto.desc_imprimir }}</td>
    <td align="right">{{ order_item.cantidad }}</td>
    <td align="right">{{ order_item.precio|floatformat:2 }}</td>
    <td align="right">{{ order_item.base|floatformat:2 }}</td>
  </tr>
{% endfor %} 
{% for x in blank_lines %}
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
{% endfor %} 
<tr>
  <td colspan="4">
      <b>Forma de pagament:</b> Contat, xec o transfer&egrave;ncia
  </td>
</tr>
</table>

<br>

<table width="100%">
<tr>
  <td width="55%">&nbsp;</td>
  <td width="25%" align="center"><b>Total import &euro;</b></td>
  <td width="20%" align="right">{{ factura.base|floatformat:2 }}</td>
</tr>
</table>

<br>

<table width="100%" class="table table-bordered">
<tr>
  <th>Base Imposable &euro;</th>
  <th>% IVA</th>
  <th>Import IVA &euro;</th>
  <th>Total Factura &euro;</th>
</tr>
{% regroup facturaitems by tipo_iva as iva_list %}
<tr>
  <td align="center">{{ factura.base|floatformat:2 }}</td>
  <td align="center">{{ iva_list.0.grouper|floatformat:2 }}</td>
  <td align="center">{{ factura.total_iva|floatformat:2 }}</td>
  <td align="center">{{ factura.total|floatformat:2 }}</td>
</tr>
</table>

</body>

</html>
