{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{{block.super}} - Home{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>InvoiceApp</h1>
    <p>
        Easy online invoices
    </p>
</div>

{% if user.is_authenticated %}
<ul class="thumbnails">
    <li class="span2" class="thumbnail">
        <h3><a href="{% url 'invoice_list' %}">{% trans 'Invoices' %}</a></h3>
    </li>
    <li class="span2" class="thumbnail">
        <h3><a href="{% url 'product_list' %}">{% trans 'Products' %}</a></h3>
    </li>
    <li class="span2" class="thumbnail">
        <h3><a href="{% url 'client_list' %}">{% trans 'Clients' %}</a></h3>
    </li>
    <li class="span2" class="thumbnail">
        <h3><a href="{% url 'tax_list' %}">{% trans 'Taxes' %}</a></h3>
    </li>
</ul>
{% else %}
<ul class="thumbnails">
    <li class="span4 thumbnail">
        <h3><a href="/accounts/login/">Login</a></h3>
    </li>
    <li class="span4 thumbnail">
        <h3><a href="/accounts/signup/">Create account</a></h3>
    </li>
</ul>
{% endif %}

{% endblock %}
