{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans verbose_name_plural %}</h2>
<a class="btn" href="{% url 'client_create' %}">{% trans 'New Client' %}</a>
<table class="table">
    <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'ID Number' %}</th>
    </tr>
    {% for client in object_list %}
    <tr>
        <td><a class="btn" href="{% url 'client_edit' client.id %}">{{client.name}}</a></td>
        <td>{{client.id_number}}</td>
    </tr>
    {% endfor %}
</table>
</ul>
{% endblock %}
