{% extends "base.html" %}

{% block title %}
Factura
{% endblock %}

{% block scripts %}
    <script src="/static/order/js/order.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
<h3>Factura</h3>

<form method="post" action="." class="order-factura form form-inline">
    {% csrf_token %}

<fieldset class="module aligned ">
{{ form.management_form }}
{% for field in form %}
    <div class="form-row">
            <div class="field-box">
                {{ field.errors }}
                <span style="width: 80px; display: inline-block;">{{ field.label_tag }}:</span> {{ field }}
            </div>
    </div>
{% endfor %}
</fieldset>

<fieldset class="module aligned ">
<h2>Lineas factura</h2>
<table>
     <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Tipo iva</th>
        <th>Total iva</th>
        <th>Base</th>
        <th>Total</th>
        <th>Eliminar</th>
     </tr>
     {% for f in formset.management_form %}
          {{ f }}
     {% endfor %}
     {% for f in formset.forms %}
          <tr class="inline-group">
              <td>{{f.producto}}</td>
              <td>{{f.precio}}</td>
              <td>{{f.cantidad}}</td>
              <td>{{f.tipo_iva}}</td>
              <td>{{f.total_iva}}</td>
              <td>{{f.base}}</td>
              <td>{{f.total}}</td>
              <td>{{f.DELETE}}</td>
          </tr>
     {% endfor %}
</table>
</fieldset>

    <p><button type="submit">Guardar</button></p>
</form>

{% endblock %}