{% extends 'base.html' %}
{% load staticfiles %}
{% load formsettags %}
{% load widget_tweaks %}
{% load l10n %}
{% load i18n %}

{% block styles %}
    <link href="{% static "css/invoice.css" %}" rel="stylesheet">
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static "jquery.formset.js" %}"></script>

<script type="text/javascript" src="https://github.com/jquery/globalize/raw/master/lib/globalize.js"></script>
<script type="text/javascript" src="https://github.com/jquery/globalize/raw/master/lib/cultures/globalize.culture.es.js"></script>
<script type="text/javascript" src="https://github.com/jquery/globalize/raw/master/lib/cultures/globalize.culture.en-US.js"></script>

<script type="text/javascript">
    $(function() {
        $('.InvoiceItemInline').formset({
            prefix : '{{ InvoiceItemInline.prefix }}',
            addText: '<span class="btn"><i class="icon-plus-sign"></i> {% trans 'Add another' %}</span>',
            deleteText: '<span class="btn"><i class="icon-remove"></i> {% trans 'Remove' %}</span>',
        });
    });

    $('#id_date, #id_date_paid').datepicker({dateFormat: 'dd/mm/yy'});

        var l_lang;
        if (navigator.userLanguage)// Explorer
            l_lang = navigator.userLanguage;
        else if (navigator.language)// FF
            l_lang = navigator.language;
        else
            l_lang = "en";
        Globalize.culture(l_lang);
</script>
<script type="text/javascript" src="{% static "js/invoice.js" %}"></script>

{% endblock %}

{% block content %}
<form method='post' action='{{request.path}}' id="invoice_form">
    {% csrf_token %}
    <fieldset>
        <legend>
            {% trans 'Invoice' %}
        </legend>

        {{form.errors}}

        <table border="0" cellspacing="5" cellpadding="5">
            <tr>
                <td>{% trans 'Code' %}</td><td><span id="code" class="uneditable-input">{{object.code|default:''}}</span></td>
                <td>{{form.date.label}}</td><td>{{form.date}}</td>
            </tr>
            <tr>
                <td>{{form.client.label}}</td><td>{{form.client}}</td>
                <td>{{form.date_paid.label}}</td><td>{{form.date_paid}}</td>
            </tr>
            <tr>
                <td>{% trans 'Net' %}</td><td><span id="base" class="uneditable-input">{{object.base|localize}}</span></td>
                <td>{% trans 'Taxes' %}</td><td><span id="taxes" class="uneditable-input">{{object.taxes|localize}}</span></td>
                <td>{% trans 'Total' %}</td><td><span id="total" class="uneditable-input">{{object.total|localize}}</span></td>
            </tr>
        </table>
        <br/>
        
        <fieldset class="module aligned ">
        <table class="table">
             <tr>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Quantity' %}</th>
                <th>{% trans 'Tax Name' %}</th>
                <th>{% trans 'Tax Rate' %}</th>
                <th>{% trans 'Net' %}</th>
                <th>{% trans 'Taxes' %}</th>
                <th>{% trans 'Total' %}</th>
                <th>{% trans 'Remove' %}</th>
             </tr>
             {{ InvoiceItemInline.management_form }}
             {% for f in InvoiceItemInline %}
                  <tr class="InvoiceItemInline" id="id_{{ InvoiceItemInline.prefix }}-{{forloop.counter0}}">
                      <td>{{f.id}}
                          {{f.product.errors.as_ul}}{{f.product}}</td>
                      <td>{{f.price.errors.as_ul}}{{f.price|add_class:"input-small"}}</td>
                      <td>{{f.quantity.errors.as_ul}}{{f.quantity|add_class:"input-small"}}</td>
                      <td class="field-tax_name">
                          <span>{{f.instance.tax_name|default_if_none:''}}</span>
                      </td>
                      <td class="numberfield field-tax_rate">
                          <span>{{f.instance.tax_rate|default_if_none:''|localize}}</span>
                      </td>
                      <td class="numberfield field-base"><span>{{f.instance.base|localize}}</span></td>
                      <td class="numberfield field-taxes"><span>{{f.instance.taxes|localize}}</span></td>
                      <td class="numberfield field-total"><span>{{f.instance.total|localize}}</span></td>
                      <td>{{f.DELETE}}</td>
                  </tr>
             {% endfor %}
        </table>
        </fieldset>

    </fieldset>
    <input type='submit' name='submit' value='{% trans 'Save' %}' />
</form>
{% endblock %}

