{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}
{% load i18n %}

{% block content %}
<h2>{% trans verbose_name_plural %}</h2>
<a class="btn" href="{% url 'invoice_create' %}">{% trans 'New Invoice' %}</a>
<table class="table">
    <tr>
        <th>{% trans 'Code' %}</th><th>{% trans 'Client' %}</th><th>{% trans 'Total' %}</th><th>{% trans 'Date paid' %}</th><th><i class="icon-th"></i></th>
    </tr>
    {% for invoice in object_list %}
    <tr>
        <td><a class="btn" href="{% url 'invoice_edit' invoice.id %}">{{invoice.code}}</a></td>
        <td>{{invoice.client}}</td>
        <td>{{invoice.total}}</td>
        <td>{{invoice.paid_date}}</td>
        <td><a class="btn" target="_blank" href="{% url 'invoice_print' invoice.id %}">{% trans 'Print' %}</a></td>
    </tr>
    {% endfor %}
</table>
</ul>
{% endblock %}
