{% extends 'base.html' %}
{% load staticfiles %}
{% load formsettags %}


{% block styles %}
    <link href="{% static "css/invoice.css" %}" rel="stylesheet">
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static "jquery.formset.js" %}"></script>
<script type="text/javascript">
    $(function() {
        $('.InvoiceItemInline').formset({
            prefix : '{{ InvoiceItemInline.prefix }}',
            added: function(newrow) {
                var new_row_id = $('input#id_' +this.prefix + '-TOTAL_FORMS').val() - 1;
                $(newrow).attr('id', 'id_'+ this.prefix + '-' + new_row_id);
            }
        });
    });
    
    $('#id_date, #id_date_paid').datepicker({dateFormat: 'dd/mm/yy'});
</script>
<script type="text/javascript" src="{% static "js/invoice.js" %}"></script>
{% endblock %}

{% block content %}
<form method='post' action='{{request.path}}' id="invoice_form">
    {% csrf_token %}
    <fieldset>
        <legend>
            Invoice
        </legend>

        <b>Invoice Form:</b>
        <br/>
        {{ form }}
        <br/>
        <br/>

        <b>Invoice Items Form:</b>
        <br/>


        <fieldset class="module aligned ">
        <table class="table">
             <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Tax Name</th>
                <th>Tax Rate</th>
                <th>Base</th>
                <th>Taxes</th>
                <th>Total</th>
                <th>Eliminar</th>
             </tr>
             {{ InvoiceItemInline.management_form }}
             {% for f in InvoiceItemInline %}
                  <tr class="InvoiceItemInline" id="id_{{ InvoiceItemInline.prefix }}-{{forloop.counter0}}">
                      <td>{{f.id}}
                          {{f.product.errors.as_ul}}{{f.product}}</td>
                      <td>{{f.price.errors.as_ul}}{{f.price}}</td>
                      <td>{{f.quantity.errors.as_ul}}{{f.quantity}}</td>
                      <td class="field-taxname">
                          <p>{{f.tax_name.value|default_if_none:''}}</p>
                          {{f.tax_name.as_hidden}}
                      </td>
                      <td class="numberfield field-taxrate">
                          <p>{{f.tax_rate.value|default_if_none:''}}</p>
                          {{f.tax_rate.as_hidden}}
                      </td>
                      <td class="numberfield field-base"><p>{{f.base.value}}</p></td>
                      <td class="numberfield field-taxes"><p>{{f.taxes.value}}</p></td>
                      <td class="numberfield field-total"><p>{{f.total.value}}</p></td>
                      <td>{{f.DELETE}}</td>
                  </tr>
             {% endfor %}
        </table>
        </fieldset>






        {% comment %}
        {% formset_table_bootstrap InvoiceItemInline 'InvoiceItemLine' %}
        
        
        {{InvoiceItemInline.management_form}}
        {% for fs in InvoiceItemInline %}
        <div class="line">
            <span> {% for field in fs %} <span>{{ field.label_tag }}: {{field}}</span> {% endfor %}
        </div>
        <div>
            {{fs.errors}}
        </div>
        {% endfor %}
        {% endcomment %}

    </fieldset>
    <input title='Submit this form' type='submit' name='submit' value='Submit' />
</form>
{% endblock %}

