{% extends 'base.html' %}
{% load staticfiles %}
{% load formsettags %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<form method='post' action='{{request.path}}' id="product_form">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans verbose_name %}</legend>
        
        {{form}}

    </fieldset>
    <input class="btn" title='Submit this form' type='submit' name='submit' value='{% trans 'Save' %}' />
    <a class="btn" href="{% url 'product_list' %}">{% trans 'Cancel' %}</a>
</form>
{% endblock %}

